/*
!/.gitignore

!/addons
/addons/*

!/addons/sourcemod
/addons/sourcemod/*

!/addons/sourcemod/plugins
/addons/sourcemod/plugins/*

!/addons/sourcemod/plugins/soccer_mod.smx

!/addons/sourcemod/scripting
/addons/sourcemod/scripting/*

!/addons/sourcemod/scripting/soccer_mod.sp

!/addons/sourcemod/scripting/soccer_mod
!/addons/sourcemod/scripting/soccer_mod/*

!/addons/sourcemod/translations
/addons/sourcemod/translations/*

!/addons/sourcemod/translations/soccer_mod.phrases.txt

!/maps
/maps/*

!/maps/ka_xsl_stadium_b1.bsp

!/materials
/materials/*

!/materials/models
/materials/models/*

!/materials/models/player
/materials/models/player/*

!/materials/models/player/soccermod
!/materials/models/player/soccermod/*

!/materials/models/soccer_mod
!/materials/models/soccer_mod/*

!/models
/models/*

!/models/player
/models/player/*

!/models/player/soccermod
!/models/player/soccermod/*

!/models/soccer_mod
!/models/soccer_mod/*